*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store


/content/static/admin/
/content/static/css/
/content/static/fonts/
/content/static/js/
/content/static/vendor/
/mysite/secret_config.py
/chat/migrations/
/accounts/migrations/
