{% extends 'chat/main.html' %}

{% block content %}
{% load static %}
<style>
#pendingQuizTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 60px;
}

#pendingQuizTable td, #pendingQuizTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#pendingQuizTable tr:nth-child(even){background-color: #f2f2f2;}

.table_row:hover {background-color: #ddd;}

#pendingQuizTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
<div id="interactive-service-channel" hidden="hidden">{{ room_name }}</div>
<section class="dashboard-header no-padding-bottom">
<div class="container-fluid">
  <div class="row">
    <!-- Statistics -->
    <div class="statistics col-lg-8 col-12">
      <div class="statistic d-flex align-items-center bg-white has-shadow">
        <div class="container">
            <form role="form">
                <div class="panel panel-primary setup-content step-1" id="step-1">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="quiz_question">
                                <label class="control-label">질문 : </label>
                                <b id="question_value"></b><br>
                            </div>
                            <div class="quiz_examples">
                                <label class="control-label">보기 : </label>
                                <button id="example-button1" class="btn example-button" type="button"></button>
                                <button id="example-button2" class="btn example-button" type="button"></button>
                                <button id="example-button3" class="btn example-button" type="button"></button>
                                <button id="example-button4" class="btn example-button" type="button"></button>
                                <button id="example-button5" class="btn example-button" type="button"></button>
                                <button id="example-button6" class="btn example-button" type="button"></button>
                                <button id="example-button7" class="btn example-button" type="button"></button>
                                <button id="example-button8" class="btn example-button" type="button"></button>
                                <button id="example-button9" class="btn example-button" type="button"></button>
                                <button id="example-button10" class="btn example-button" type="button"></button>
                                <b id="example_value"></b><br><br>
                            </div>
                            <label class="control-label">정답 입력</label>
                            <input id="quiz_answer" maxlength="100" type="text" required="required" class="form-control"
                                   placeholder="정답 입력 ( ** 위의 보기를 선택하여 입력 권장 ** )" style="margin-bottom: 10"/>
                            <button id="service_submit" class="btn btn-primary add-example-btn" type="button">정답 제출하기</button>
                        </div>

                        <!--<button class="btn btn-success pull-right" type="button" id="service_submit">제출하기</button>-->
                    </div>
                </div>
            </form>
        </div>

      </div>
    </div>
  </div>
</div>
</section>

<section class="tables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4">정답 대기 리스트</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                        <th hidden="hidden">서비스 ID</th>
                        <th hidden="hidden">서비스 타입</th>
                        <th>퀴즈 타입</th>
                        <th>프로그램</th>
                        <th>요약</th>
                        <th>질문</th>
                        <th>보기</th>
                        <th>날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for service in services %}
                    <tr class="table_row">
                        <td class="service_id" hidden="hidden">{{ service.service_id }}</td>
                        <td hidden="hidden">{{ service.get_service_type }}</td>
                        <td>{{ service.get_detail_type }}</td>
                        <td>{{ service.program_title }}</td>
                        <td>{{ service.service_title }}</td>
                        <td class="question">{{ service.get_question }}</td>
                        <td class="examples">{{ service.get_examples }}</td>
                        <td>{{ service.publish_date}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<script src="{% static 'js/quiz-answer.js' %}"></script>

{% endblock %}